body {
  color: white;
  font-size: 1.75rem;
  margin: 0 0 0.75rem 0;
  text-shadow: 0 2px 2px #b6701e;
  background-color: black; 
  text-align: center;
}
table {
  width:100%;
}
td {
  width:50%;
  height: 50vh;
   overflow:visible;
}
.button {
  background-color: #4CAF50;
  color: white;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  margin: 12px 28px;
  cursor: pointer;
}
